.productList {
  display: grid;
  grid-template-columns: 1;
  padding-inline: var(--global-padding-inline);
  gap: 40px;
  max-width: var(--max-body-width);
  margin-inline: auto;
}

@media only screen and (min-width: 550px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}

@media only screen and (min-width: 900px) {
  .productList {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
