.paginationWrapper {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 80px;
}

.pages {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: fit-content;
}

.pageNumber {
  cursor: pointer;
  font-size: 18px;
}

.button {
  font-weight: 600;
  font-size: 20px;
}
