.productWrapper {
  display: flex;
  flex-direction: column;
}

.imgWrapper {
  position: relative;
}

.buttonWrapper {
  display: none;
  position: absolute;
  top: 40px;
  right: 30px;
}

.productImage {
  width: 100%;
  height: calc(100vh - 42px);
}

.contentWrapper {
  padding-inline: 25px;
}

.title {
  font-size: 36px;
  color: var(--black);
  font-weight: 500;
  margin-top: 20px;
}

.category {
  color: var(--grey-title);
}

.priceWrapper {
  position: relative;
  width: fit-content;
}

.price {
  font-size: 24px;
  color: var(--black);
  margin-top: 20px;
}

.euro {
  position: absolute;
  top: 1px;
  right: -16px;
  font-size: 18px;
}

.description {
  color: var(--black);
  margin-top: 10px;
  margin-bottom: 40px;
  line-height: 24px;
}

@media only screen and (min-width: 900px) {
  .buttonWrapper {
    display: block;
  }
}

@media only screen and (min-width: 600px) {
  .productWrapper {
    flex-direction: row;
  }
  .productImage {
    height: calc(100vh - 52px);
    min-width: 55vw;
  }
  .contentWrapper {
    width: 100%;
  }
}
