.productWrapper {
  position: relative;
}

.productImage {
  width: 100%;
  height: clamp(270px, 40vw, 340px);
  height: auto;
}

.title {
  font-weight: 700;
  font-size: 18px;
  color: var(--grey);
  margin-top: 10px;
}

.price {
  margin-top: 5px;
  font-size: 18px;
  color: var(--grey);
}

.buttonWrapper {
  position: absolute;
  top: 13px;
  right: 12px;
}
