.productWrapper {
  position: relative;
}

.productImage {
  width: 100%;
  height: clamp(270px, 40vw, 340px);
}

.title {
  font-weight: 700;
  font-size: 18px;
  color: var(--grey);
  margin-top: 10px;
}

.price {
  margin-top: 5px;
  font-size: 18px;
  color: var(--grey);
}

@media only screen and (min-width: 900px) {
  .productImage {
    height: 340px;
  }
}
