:root {
  --white: #fff;
  --grey: #4a4a4a;
  --grey-soft: #f5f5f5;
  --grey-dark: #9b9b9b;
  --grey-title: #828280;
  --black: #000000;
  --global-padding-inline: 16px;
  --max-body-width: 1200px;
}

* {
  font-family: var(--font-poppins), sans-serif;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--grey);
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
  & .title {
    font-family: var(--font-noto-sans);
    font-size: 26px;
  }
  & .subtitle {
    font-family: var(--font-noto-sans);
    font-size: 16px;
  }
}

.like-svg:hover {
  fill: black;
}

@media only screen and (min-width: 768px) {
  .titleWrapper {
    & .title {
      font-size: 32px;
    }
    & .subtitle {
      font-size: 18px;
    }
  }
}
