:root {
  --white: #fff;
  --grey: #4a4a4a;
  --grey-soft: #f5f5f5;
  --grey-dark: #9b9b9b;
  --grey-title: #828280;
  --black: #000000;
  --global-padding-inline: 16px;
  --max-body-width: 1200px;
}

* {
  /* font-family: var(--font-poppins), sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-noto-sans), sans-serif;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--grey);
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
  font-family: var(--font-noto-sans);
  & .title {
    font-size: 26px;
  }
  & .subtitle {
    font-size: 16px;
  }
}

.like-svg:hover {
  fill: black;
}
